<!-- <div class="card shadow-sm mt-4 mx-auto" style="max-width: 1200px">
  <h3 class="card-title mb-0 p-3 border-bottom">Property Location</h3>

  <div class="card-body p-3">
    <form [formGroup]="addrDetailForm" (ngSubmit)="onSubmitAddressDetail()"> -->
      
      <!-- First Row -->
      <!-- <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label for="floor" class="form-label">Floor</label>
          <input 
            type="number" 
            class="form-control" 
            id="floor"
            formControlName="floor"
            placeholder="Enter floor number"
            min="0"
            [ngClass]="{'is-invalid': btnSubmitted && getControl('floor').errors}"
          />
          @if (btnSubmitted && getControl('floor').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('floor').errors?.['pattern']) {
                <span>Invalid floor value! Maximum 5 digits allowed. Only up to 2 decimals.</span>
              }
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="addressLine1" class="form-label">Address Line 1</label>
          <input 
            type="text" 
            class="form-control" 
            id="addressLine1"
            formControlName="addressLine1"
            placeholder="Enter address line 1"
            [ngClass]="{'is-invalid': btnSubmitted && getControl('addressLine1').errors}"
          />
          @if (btnSubmitted && getControl('addressLine1').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('addressLine1').errors?.['required']) {
                <span>Address Line 1 is required</span>
              }
              @if (getControl('addressLine1').errors?.['pattern']) {
                <span>Alphanumeric with special characters !@#()-`.+,/" allowed</span>
              }
              @if (getControl('addressLine1').errors?.['maxlength']) {
                <span>Address cannot be greater than 200 characters long!</span>
              }
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="addrLine2" class="form-label">Address Line 2</label>
          <input 
            type="text" 
            class="form-control" 
            id="addrLine2"
            formControlName="addrLine2"
            placeholder="Enter address line 2"
            [ngClass]="{'is-invalid': btnSubmitted && getControl('addrLine2').errors}"
          />
          @if (btnSubmitted && getControl('addrLine2').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('addrLine2').errors?.['pattern']) {
                <span>Alphanumeric with special characters !@#()-`.+,/" allowed</span>
              }
              @if (getControl('addrLine2').errors?.['maxlength']) {
                <span>Address cannot be greater than 200 characters long!</span>
              }
            </div>
          }
        </div>
      </div> -->

      <!-- Second Row -->
      <!-- <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label for="addrLine3" class="form-label">Address Line 3</label>
          <input 
            type="text" 
            class="form-control" 
            id="addrLine3"
            formControlName="addrLine3"
            placeholder="Enter address line 3"
            [ngClass]="{'is-invalid': btnSubmitted && getControl('addrLine3').errors}"
          />
          @if (btnSubmitted && getControl('addrLine3').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('addrLine3').errors?.['pattern']) {
                <span>Alphanumeric with special characters !@#()-`.+,/" allowed</span>
              }
              @if (getControl('addrLine3').errors?.['maxlength']) {
                <span>Address cannot be greater than 200 characters long!</span>
              }
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="country" class="form-label">Country</label>
          <select 
            class="form-select" 
            id="country"
            formControlName="country"
            (change)="onChangeCountry($event)"
            [ngClass]="{'is-invalid': btnSubmitted && getControl('country').errors}"
          >
            <option value="" disabled>Select country</option>
            @for (country of countryCodes; track country.name) {
              <option [value]="country.name">{{ country.name }}</option>
            }
          </select>
          @if (btnSubmitted && getControl('country').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('country').errors?.['required']) {
                <span>Please select a country</span>
              }
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="state" class="form-label">State</label>
          <select 
            class="form-select" 
            id="state"
            formControlName="state"
            (change)="onSelectStateChange($event)"
            [ngClass]="{'is-invalid': btnSubmitted && getControl('state').errors}"
          >
            <option value="">Select state</option>
            @for (state of states; track state.name) {
              <option [value]="state.name">{{ state.name }}</option>
            }
          </select>
          @if (btnSubmitted && getControl('state').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('state').errors?.['required']) {
                <span>State is required</span>
              }
              @if (getControl('state').errors?.['pattern']) {
                <span>Only alphabets allowed</span>
              }
              @if (getControl('state').errors?.['maxlength']) {
                <span>Max 35 characters allowed</span>
              }
            </div>
          }
        </div>
      </div> -->

      <!-- Third Row -->
      <!-- <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label for="city" class="form-label">City</label>
          <input 
            type="text" 
            class="form-control" 
            id="city"
            formControlName="city"
            (blur)="onAddressFieldBlur('city')"
            placeholder="Enter city"
            [ngClass]="{'is-invalid': btnSubmitted && getControl('city').errors}"
          />
          @if (btnSubmitted && getControl('city').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('city').errors?.['required']) {
                <span>City is required</span>
              }
              @if (getControl('city').errors?.['pattern']) {
                <span>Only alphabets allowed</span>
              }
              @if (getControl('city').errors?.['maxlength']) {
                <span>Max 35 characters allowed</span>
              }
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="zipCode" class="form-label">ZIP Code</label>
          <input 
            type="number" 
            class="form-control" 
            id="zipCode"
            formControlName="zipCode"
            placeholder="Enter ZIP code"
            [ngClass]="{'is-invalid': btnSubmitted && getControl('zipCode').errors}"
          />
          @if (btnSubmitted && getControl('zipCode').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('zipCode').errors?.['required']) {
                <span>Please provide a valid zip code</span>
              }
              @if (getControl('zipCode').errors?.['pattern']) {
                <span>Zip code must be minimum 3 digits and maximum 7 digits long</span>
              }
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="landMark" class="form-label">Landmark</label>
          <input 
            type="text" 
            class="form-control" 
            id="landMark"
            formControlName="landMark"
            placeholder="Enter landmark"
            [ngClass]="{'is-invalid': btnSubmitted && getControl('landMark').errors}"
          />
          @if (btnSubmitted && getControl('landMark').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('landMark').errors?.['pattern']) {
                <span>Alphanumeric and special characters !@#()-`.+,/" allowed</span>
              }
              @if (getControl('landMark').errors?.['maxlength']) {
                <span>Landmark cannot exceed 200 characters</span>
              }
            </div>
          }
        </div>
      </div> -->

      <!-- Map Component -->
      <!-- <div class="row mb-3">
        <div class="col-12">
          <app-map-location
            #mapLocationComponent
            [city]="currentCity"
            [state]="currentState"
            [landMark]="currentLandmark"
            [country]="currentCountry"
            [zipCode]="currentZipCode"
            [latitude]="currentLatitude"
            [longitude]="currentLongitude"
            [isDraggable]="true"
            (locationUpdated)="onLocationUpdate($event)"
          ></app-map-location>
        </div>
      </div> -->

      <!-- Submit Buttons -->
      <!-- <div class="justify-content-end gap-3 pt-2 module-property d-flex align-items-center">
        <button 
          type="button" 
          class="btn btn-outline-secondary"
          (click)="clearData()"
        >
          Clear All
        </button>
        <button 
          type="submit" 
          class="btn btn-primary shadow-sm"
        >
          Save
        </button>
        <button 
          type="button" 
          class="btn btn-primary shadow-sm"
          [disabled]="canDisablePublishProperty"
          (click)="onPublishToSite()"
        >
          Publish To Site
        </button>
      </div>
    </form>
  </div>
</div> -->

<!-- Spinner -->
<!-- <ngx-spinner></ngx-spinner> -->


<div class="card shadow-sm mt-4 mx-auto" style="max-width: 1200px">
  <h3 class="card-title mb-0 p-3 border-bottom">Property Location</h3>

  <div class="card-body p-3">
    <form [formGroup]="addrDetailForm" (ngSubmit)="onSubmitAddressDetail()">
      
      <!-- First Row -->
      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label for="floor" class="form-label">Floor</label>
          <input 
            type="number" 
            class="form-control" 
            id="floor"
            formControlName="floor"
            placeholder="Enter floor number"
            min="0"
            [ngClass]="{'is-invalid': btnSubmitted() && getControl('floor').errors}"
          />
          @if (btnSubmitted() && getControl('floor').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('floor').errors?.['pattern']) {
                <span>Invalid floor value! Maximum 5 digits allowed. Only up to 2 decimals.</span>
              }
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="addressLine1" class="form-label">Address Line 1</label>
          <input 
            type="text" 
            class="form-control" 
            id="addressLine1"
            formControlName="addressLine1"
            (blur)="onAddressFieldBlur('addressLine1')"
            placeholder="Enter address line 1"
            [ngClass]="{'is-invalid': btnSubmitted() && getControl('addressLine1').errors}"
          />
          @if (btnSubmitted() && getControl('addressLine1').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('addressLine1').errors?.['required']) {
                <span>Address Line 1 is required</span>
              }
              @if (getControl('addressLine1').errors?.['pattern']) {
                <span>Alphanumeric with special characters !@#()-`.+,/" allowed</span>
              }
              @if (getControl('addressLine1').errors?.['maxlength']) {
                <span>Address cannot be greater than 200 characters long!</span>
              }
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="addrLine2" class="form-label">Address Line 2</label>
          <input 
            type="text" 
            class="form-control" 
            id="addrLine2"
            formControlName="addrLine2"
            placeholder="Enter address line 2"
            [ngClass]="{'is-invalid': btnSubmitted() && getControl('addrLine2').errors}"
          />
          @if (btnSubmitted() && getControl('addrLine2').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('addrLine2').errors?.['pattern']) {
                <span>Alphanumeric with special characters !@#()-`.+,/" allowed</span>
              }
              @if (getControl('addrLine2').errors?.['maxlength']) {
                <span>Address cannot be greater than 200 characters long!</span>
              }
            </div>
          }
        </div>
      </div>

      <!-- Second Row -->
      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label for="addrLine3" class="form-label">Address Line 3</label>
          <input 
            type="text" 
            class="form-control" 
            id="addrLine3"
            formControlName="addrLine3"
            placeholder="Enter address line 3"
            [ngClass]="{'is-invalid': btnSubmitted() && getControl('addrLine3').errors}"
          />
          @if (btnSubmitted() && getControl('addrLine3').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('addrLine3').errors?.['pattern']) {
                <span>Alphanumeric with special characters !@#()-`.+,/" allowed</span>
              }
              @if (getControl('addrLine3').errors?.['maxlength']) {
                <span>Address cannot be greater than 200 characters long!</span>
              }
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="country" class="form-label">Country</label>
          <select 
            class="form-select" 
            id="country"
            formControlName="country"
            (change)="onChangeCountry($event)"
            [ngClass]="{'is-invalid': btnSubmitted() && getControl('country').errors}"
          >
            <option value="" disabled>Select country</option>
            @for (country of countryCodes; track country.name) {
              <option [value]="country.name">{{ country.name }}</option>
            }
          </select>
          @if (btnSubmitted() && getControl('country').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('country').errors?.['required']) {
                <span>Please select a country</span>
              }
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="state" class="form-label">State</label>
          <select 
            class="form-select" 
            id="state"
            formControlName="state"
            (change)="onSelectStateChange($event)"
            [ngClass]="{'is-invalid': btnSubmitted() && getControl('state').errors}"
          >
            <option value="">Select state</option>
            @for (state of states; track state.name) {
              <option [value]="state.name">{{ state.name }}</option>
            }
          </select>
          @if (btnSubmitted() && getControl('state').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('state').errors?.['required']) {
                <span>State is required</span>
              }
              @if (getControl('state').errors?.['pattern']) {
                <span>Only alphabets allowed</span>
              }
              @if (getControl('state').errors?.['maxlength']) {
                <span>Max 35 characters allowed</span>
              }
            </div>
          }
        </div>
      </div>

      <!-- Third Row -->
      <div class="row g-3 mb-3">
        <div class="col-md-4">
          <label for="city" class="form-label">City</label>
          <input 
            type="text" 
            class="form-control" 
            id="city"
            formControlName="city"
            (blur)="onAddressFieldBlur('city')"
            placeholder="Enter city"
            [ngClass]="{'is-invalid': btnSubmitted() && getControl('city').errors}"
          />
          @if (btnSubmitted() && getControl('city').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('city').errors?.['required']) {
                <span>City is required</span>
              }
              @if (getControl('city').errors?.['pattern']) {
                <span>Only alphabets allowed</span>
              }
              @if (getControl('city').errors?.['maxlength']) {
                <span>Max 35 characters allowed</span>
              }
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="zipCode" class="form-label">ZIP Code</label>
          <input 
            type="number" 
            class="form-control" 
            id="zipCode"
            formControlName="zipCode"
            (blur)="onAddressFieldBlur('zipCode')"
            placeholder="Enter ZIP code"
            [ngClass]="{'is-invalid': btnSubmitted() && getControl('zipCode').errors}"
          />
          @if (btnSubmitted() && getControl('zipCode').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('zipCode').errors?.['required']) {
                <span>Please provide a valid zip code</span>
              }
              @if (getControl('zipCode').errors?.['pattern']) {
                <span>Zip code must be minimum 3 digits and maximum 7 digits long</span>
              }
            </div>
          }
        </div>

        <div class="col-md-4">
          <label for="landMark" class="form-label">Landmark</label>
          <input 
            type="text" 
            class="form-control" 
            id="landMark"
            formControlName="landMark"
            (blur)="onAddressFieldBlur('landMark')"
            placeholder="Enter landmark"
            [ngClass]="{'is-invalid': btnSubmitted() && getControl('landMark').errors}"
          />
          @if (btnSubmitted() && getControl('landMark').errors) {
            <div class="invalid-feedback d-block">
              @if (getControl('landMark').errors?.['pattern']) {
                <span>Alphanumeric and special characters !@#()-`.+,/" allowed</span>
              }
              @if (getControl('landMark').errors?.['maxlength']) {
                <span>Landmark cannot exceed 200 characters</span>
              }
            </div>
          }
        </div>
      </div>

      <!-- Map Component -->
      <!-- <div class="row mb-3">
        <div class="col-12">
          <app-map-location
            #mapLocationComponent
            [city]="currentCity()"
            [state]="currentState()"
            [landMark]="currentLandmark()"
            [country]="currentCountry()"
            [zipCode]="currentZipCode()"
            [latitude]="currentLatitude()"
            [longitude]="currentLongitude()"
            [isDraggable]="true"
            (locationUpdated)="onLocationUpdate($event)"
          ></app-map-location>
        </div>
      </div> -->


      <!-- Map Component - ✅ FIXED: Use direct form values instead of signals -->
<div class="row mb-3">
  <div class="col-12">
    <app-map-location
      #mapLocationComponent
      [city]="addrDetailForm.get('city')?.value || ''"
      [state]="addrDetailForm.get('state')?.value || ''"
      [landMark]="addrDetailForm.get('landMark')?.value || ''"
      [country]="addrDetailForm.get('country')?.value || ''"
      [zipCode]="addrDetailForm.get('zipCode')?.value || ''"
      [latitude]="addrDetailForm.get('latitude')?.value"
      [longitude]="addrDetailForm.get('longitude')?.value"
      [isDraggable]="true"
      (locationUpdated)="onLocationUpdate($event)"
    ></app-map-location>
  </div>
</div>

      <!-- Submit Buttons -->
      <div class="justify-content-end gap-3 pt-2 module-property d-flex align-items-center">
        <button 
          type="button" 
          class="btn btn-outline-secondary"
          (click)="clearData()"
        >
          Clear All
        </button>
        <button 
          type="submit" 
          class="btn btn-primary shadow-sm"
        >
          Save
        </button>
        <button 
          type="button" 
          class="btn btn-primary shadow-sm"
          [disabled]="canDisablePublishProperty()"
          (click)="onPublishToSite()"
        >
          Publish To Site
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Spinner -->
<app-common-spinner></app-common-spinner> 