<footer>
  <div class="container-fluid">
    <div class="row m-5">
      <div class="col-md-3">
        <h6 class="text-primary mb-4">ABOUT US</h6>
        <span>
          Oasis Grounds is where modern living meets natural tranquility. Thoughtfully designed with
          elegant spaces, lush landscapes, and world-class amenities, it offers the perfect blend of
          comfort, style, and convenience. Welcome to a community that feels like home — your serene
          escape in the heart of the city.
        </span>
      </div>

      <div class="col-md-3">
        <h6 class="text-primary mb-4">USEFUL LINKS</h6>
        <ul class="list-unstyled mb-0 footer-links">
          <li class="mb-2"><a routerLink="/about">About Us</a></li>
          <li class="mb-2"><a routerLink="/contact">Contact</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h6 class="text-primary mb-4">MORE INFORMATION</h6>
        <ul class="list-unstyled mb-0 footer-links">
          <li class="mb-2"><a routerLink="/design">Design</a></li>
          <li class="mb-2"><a routerLink="/estimation">Estimation</a></li>
          <li class="mb-2"><a routerLink="/maintenance">Maintenance</a></li>
          <li><a routerLink="/project">Project Management</a></li>
        </ul>
      </div>

      <div class="col-md-3">
        <h6 class="text-primary mb-4">CONTACT US</h6>
        <span>
          <i class="bi bi-geo-alt-fill me-2"></i>
          57C, M.S. Road, Vasan Eyecare Building, Ozhignasery,<br />
          Nagercoil - 629 001,<br />
          Kanyakumari, Tamil Nadu
        </span>

        <ul class="list-unstyled mb-0 mt-2">
          <li class="mt-2">
            <i class="bi bi-telephone-fill me-2"></i>
            <a
              href="tel:+919363880322"
              class="text-decoration-none text-dark"
              style="cursor: pointer"
            >
              +91 93638 80322
            </a>
          </li>
          <li class="mt-2">
            <i class="bi bi-envelope-fill me-2"></i>
            <a
              href="mailto:info@jmrrealestate.com"
              class="text-decoration-none text-dark"
              style="cursor: pointer"
            >
              info@jmrrealestate.com
            </a>
          </li>
        
        </ul>
      </div>
    </div>
  </div>

  <!-- Copyright -->
  <div class="footer--copyright text-center mt-5">
    <div class="container">
      <div class="row footer--bar">
        <div class="col-12">
          <span>© 2025 <a href="#">Oasis Grounds</a>, All Rights Reserved.</span>
        </div>
      </div>
    </div>
  </div>
</footer>
